header{
    /* background: -webkit-gradient(linear,left top,left bottom,from(rgba(125, 125, 125, 0.8)),to(transparent));
    background: linear-gradient(rgba(125, 125, 125, 0.8),transparent); */
    /* background-color: rgb(28, 37, 44); */
    position: absolute;
    top: 0;
    z-index: 9;
    height: 3.5rem;
    width: 100%;

}
*{

}

html,body{
    background: #f5f8fc !important;
}

button:focus{
    outline: 0 !important;
}



/* To remove the shadowed effect and create much like twitter uncomment these line */
.MuiPaper-elevation1-25,.ui.card, .ui.cards>.card{
    box-shadow: none !important;
    -webkit-box-shadow : none !important;
}

/* Till Here */



.active.heart:before,.active.heart:after{
	background: red !important;
}
.heart {

    transition: background 0.5s ease;
}
.heart:before,
.heart:after {
	transition: background 0.5s ease;

    content: "";


    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.active#pheart:before,.active#pheart:after{
	background: red !important;
}
#pheart {

    transition: background 0.5s ease;
}
#pheart:before,
#pheart:after {
	transition: background 0.5s ease;

    content: "";


    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#pheart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

.mcontainer {
    position: relative;
    width: 85%;
    /* max-width: 960px; */
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
.primary-color{
    color: rgb(227, 223, 207);
}
.nav-menu div a{
    font-family:  "Bookman Old Style";
    /* color: #fff; */
    margin: 0 6px;
    padding: 12px 0 2px;
}
.nav-menu div a:hover{
    color: #a4a4e6;
    transition: .5s all ease-in-out;
}
/* Self Clearing Goodness */
.mcontainer:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }


.metatag-one{
    align-items: flex-start;
    color: #616770;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
}
.feed-media{
    max-height: 300px;
    width: 100%;
    height: 300px;
}
.feed-media img,.feed-media embed,.feed-media audio{
    height: 100%;
    width: 100%;
}

.ui.placeholder{
    max-width: 100% !important;
    background-color: #f5f8fc !important;
}
.line-ht-3{
    line-height: 3 !important;
}
.mInput{
    background: rgba(244,244,244,0.6);
    border: none;
    font-size: 14px;
    color: #909090;
    border-right: none;
    height: 37px;
    padding: 0 10px 0 40px;
    outline: none;
    text-overflow: ellipsis;
    width: 100%;
}
.mbtn{
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
    background: #2561c1 !important;
    color: #fff;
    transition: all .2s ease-out;
    height: 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    border-radius: 0 3px 3px 0 !important;
    width: 100%;
    font-weight: 400;
}
.w-full-imp{
    width: 100% !important;
}

/* For devices larger than 400px */
@media (max-width: 550px) {
    .mcontainer {
      width: 100%;
      padding: 0; }
  }



  /* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
      width: 90%; }
    .column,
    .columns {
      margin-left: 0%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }

    .one.column,
    .one.columns                    { width: 6.66666666667%; }
    .two.columns                    { width: 14.3333333333%; }
    .three.columns                  { width: 24%;            }
    .four.columns                   { width: 32.6666666667%; }
    .five.columns                   { width: 41.3333333333%; }
    .six.columns                    { width:52%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 67.3333333333%; }
    .nine.columns                   { width: 76.0%;          }
    .ten.columns                    { width: 84.6666666667%; }
    .eleven.columns                 { width: 93.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

  }
